.full-height {
    height: 100vh; 
  }
  
  .centered-content {
    text-align: center; 
  }
  
  .align-items-center {
    display: flex;
    align-items: center;
  }
  
  .justify-content-center {
    display: flex;
    justify-content: center;
  }
  
  .error-text {
    margin-top: 20px; 
    font-size: 24px; 
    font-weight: bold; 
  }
  